body{
  background-color: black;
  color:#3070A6;
  font-family: arial,sans-serif;
}
ul{
  list-style-type: none;
}
li{
  display: inline-block;
  padding: 0 5px 0 5px;
  transition-duration:0.5s;
  color:#3070A6;
  cursor: pointer;
}
li:hover{
  color:#A7B2D6;
  text-decoration: none;
}
.pull-left{
  position: absolute;
  left:300px;
  top:25px;
}
.pull-right{
  position: absolute;
  right: 300px;
  top:25px;
}
@media (max-width: 950px) {
  .pull-left{
    left: 100px;
  }
  .pull-right{
    right:100px;
  }
}
.radio-inline{
  transition-duration:0.5s;
}
.radio-inline:hover{
  color:#A7B2D6;
}
.nav-bar{
  background-color: #1A172F;
  padding-top: 30px;
  padding-bottom: 30px;
}
.board {
  background-color:black;
  display:table;
  margin: 0 auto;
  width:600px !important;
  height: 600px !important;
  box-sizing: content-box;
  border: 1px solid white;
}
.square {
  content:'';
  height: 37.5px;
  width: 37.5px;
  margin:0;
  background: rgba(255,255,255,.7);
  float:left;
  transition-duration: 0.5s;
}
/* square hover for js*/
.hoverBlue{
  background-color: #1A247D;
}
.btn{
  position: relative;
  left:48%;
}
.showBorder{
  border: 1px solid black;
}
.footer{
  background: #1A172F;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}
